@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Roboto&display=swap');

$fontES: 'Encode Sans SC', sans-serif;
$fontR: 'Roboto', sans-serif;

$colorOrange: #b78d49;
$colorDarkOrange: #684d38;
$colorGrey: #2c2c2c;
$colorBlackA: rgba(19, 18, 18, 0.9);